@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-800 antialiased;
}

::selection {
  @apply bg-emerald-200 text-emerald-950;
}

.code-scroll::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}

.code-scroll::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-600;
}

.code-scroll::-webkit-scrollbar-track {
  @apply bg-transparent;
}
